@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = "Error";
}
<div class="content" role="form">
    <p>
        Sorry the page you are looking for was not found on our servers.
    </p>
</div>
