@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Web.Framework.Themes
@using Nop.Services.Localization

@model LogoModel
@using Nop.Web.Models.Common;
@{
    //logo path
    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    var logoPath = "~/Themes/" + currentThemeName + "/Content/img/logo.png";

    var themeLogo = @Html.Widget("brooklyn_theme_logo");
}
<div class="header-logo">
    <a href="@Url.RouteUrl("HomePage")" class="logo">
        @if (!MvcHtmlString.IsNullOrEmpty(themeLogo))
        {
            @themeLogo
        }
        else
        {
            var storeName = EngineContext.Current.Resolve<IStoreContext>().CurrentStore.GetLocalized(x => x.Name);
            <img title="" alt="@Model.StoreName" src="@Model.LogoPath">
        }
    </a>
</div>