<?xml version="1.0" encoding="utf-8"?>
<DeploymentEvent xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/VisualStudio/DeploymentEvent/2013/06">
  <ProjectName>Nop.Admin</ProjectName>
  <SourceControl type="Git">
    <GitSourceControl xmlns="http://schemas.microsoft.com/visualstudio/deploymentevent_git/2013/09">
      <RepositoryUrl>/DefaultCollection/Atrend%20USA/_git/Atrend%20USA</RepositoryUrl>
      <ProjectPath>/Presentation/Nop.Web/Administration/Nop.Admin.csproj</ProjectPath>
      <BuiltSolution>/AtrendUsa.sln</BuiltSolution>
      <CommitId>5344f4159bedb49cdd0e2dc0239a10eb4fc0244f</CommitId>
      <ShortCommitId>5344f41</ShortCommitId>
      <CommitDateUTC>Mon, 19 May 2014 09:51:05 GMT</CommitDateUTC>
      <CommitComment>Adding Plugins folder</CommitComment>
      <CommitAuthor>vladfv</CommitAuthor>
    </GitSourceControl>
  </SourceControl>
  <Build type="TeamBuild">
    <MSBuild>
      <BuildDefinition kind="informative, summary">atrendusatest_CD</BuildDefinition>
      <BuildLabel kind="label">atrendusatest_CD_20140519.2</BuildLabel>
      <BuildId kind="id">0e626726-7499-40df-922f-e68fd944dbef,vstfs:///Build/Build/18</BuildId>
      <BuildTimestamp kind="informative, summary">Mon, 19 May 2014 09:51:52 GMT</BuildTimestamp>
      <Configuration kind="informative">Debug</Configuration>
      <Platform kind="informative">AnyCPU</Platform>
      <BuiltSolution>/AtrendUsa.sln</BuiltSolution>
    </MSBuild>
  </Build>
</DeploymentEvent>