<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <!-- Rulse for atrendusa.com -->
        <rule name="atrendusa.com - Blog HTTP/S to HTTP" stopProcessing="true">
          <match url="^blog/?(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(www\.)?atrendusa\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^1$" />
          </conditions>
          <action type="Redirect" url="http://www.atrendusa.com/blog" />
        </rule>
        <rule name="atrendusa.com - Blog Proxy" stopProcessing="true">
          <match url="^blog/?(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" url="http://107.191.51.24/blog/{R:1}" />
        </rule>
        <rule name="atrendusa.com - Redirect Non-WWW to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^atrendusa\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.atrendusa.com/{R:1}" />
        </rule>
        <rule name="atrendusa.com - HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(www\.)?atrendusa\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            <add input="{Request_URI}" pattern="^(?!blog)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://www.atrendusa.com/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- Rulse for bbox-usa.com -->
        <rule name="bbox-usa.com - Redirect Non-WWW to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^bbox-usa\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.bbox-usa.com/{R:1}" />
        </rule>
        <rule name="bbox-usa.com - HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(www\.)?bbox-usa\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            <add input="{Request_URI}" pattern="^blog/?(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.bbox-usa.com/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- Rulse for ozaudio-usa.com -->
        <rule name="ozaudio-usa.com - Redirect Non-WWW to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^ozaudio-usa\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.ozaudio-usa.com/{R:1}" />
        </rule>
        <rule name="ozaudio-usa.com - HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(www\.)?ozaudio-usa\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            <add input="{Request_URI}" pattern="^blog/?(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.ozaudio-usa.com/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- Rulse for zapcousa.com -->
        <rule name="zapcousa.com - Redirect Non-WWW to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^zapcousa\.com$" />
          </conditions>
          <action type="Redirect" url="http://www.zapcousa.com/{R:1}" />
        </rule>
        <rule name="zapcousa.com - HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(www\.)?zapcousa\.com$" />
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
            <add input="{Request_URI}" pattern="^blog/?(.*)" negate="true" />
          </conditions>
          <action type="Redirect" url="https://www.zapcousa.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>