@{
    Layout = "~/Views/Shared/_ColumnsOneWithDouble.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        @Html.Widget("home_page_top")
        @Html.Widget("home_page_bottom")
    </div>
</div>
