
@using Nop.Web.Framework
@using Nop.Web.Framework.Security.Captcha
@using Nop.Web.Framework.UI

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddCssFileParts("~/Plugins/AtrendUsa.Plugin.Misc.BuildYourBox/Content/themes/atrendusa/select2.min.css"); /*Added By Santosh*/
    Html.AddScriptParts("~/Plugins/AtrendUsa.Plugin.Misc.BuildYourBox/Content/themes/atrendusa/select2.min.js"); /*Added By Santosh*/

    Html.AddCssFileParts("~/Plugins/AtrendUsa.Plugin.Misc.BuildYourBox/Content/themes/atrendusa/atrendusa.css");
    Html.AddScriptParts("~/Plugins/AtrendUsa.Plugin.Misc.BuildYourBox/Content/themes/atrendusa/file-upload-button.js");
}
   
<h1>Test File</h1>